# Python 2 HSUTCC: List and functions

## List Comprehension

List can be constructed in different ways, it can be constructed manually, using loops, or lastly list comprehension. Here is the way to construct using the last method.

In [ ]:
l = []
l = [1, 2, 3]

my_list = []
for i in range(10):
    my_list.append(i)

my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
my_list = [number for number in range(10)]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Without conditional

In [ ]:
# ten zeroes
zeroes = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
zeroes = []
for i in range(10):
    zeroes.append(0)

zeroes

In [ ]:
zeroes = [0 for _ in range(2)]
zeroes

All of above are the way to construct list of zeroes

In [4]:
numbers = [i for i in range(5)]
square_one_to_ten = [i ** 2 for i in range(1, 11)]

numbers, square_one_to_ten

([0, 1, 2, 3, 4], [1, 4, 9, 16, 25, 36, 49, 64, 81, 100])

In [6]:
square_one_to_ten = []

for i in range(1, 11):
    square_one_to_ten.append(i ** 2)

square_one_to_ten

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### With conditional if

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
even_nums = []

for n in numbers:
    if n % 2 == 0:
        even_nums.append(n)

even_nums

[2, 4, 6]

In [8]:
# With list comprehension
even_nums = [n for n in numbers if n % 2 == 0]
even_nums

[2, 4, 6]

In [9]:
multiple_of_7 = [n for n in range(100) if n % 7 == 0]
multiple_of_7

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [ ]:
l = [0 for _ in range(10000)]
l = [0] * 10000

l = []
for _ in range(10000):
    l.append(0)

### Syntax

```python
without_condition = [expression for item in iterable]
with_condition_if = [expression for item in iterable if condition == True]
with_condition_ifelse = [expression1 if True else expression2 for item in iterable]
```

What should be the output of this program?

In [10]:
numbers = ['even' if n % 2 == 0 else 'odd' for n in range(5)]
# 0, 1, 2, 3, 4
# ['even', 'odd', 'even', 'odd', 'even']
numbers

['even', 'odd', 'even', 'odd', 'even']

In [12]:
[number ** 2 if number % 3 == 1 else number // 2 for number in range(7)]
# [0, 1, 1, 1, 16, 2, 3]
# [0 // 2, 1 ** 1, 2 // 2, 3 // 2, 4 ** 2, 5 // 2, 6 // 2]

[0, 1, 1, 1, 16, 2, 3]

In [ ]:
numbers = []
for n in range(5):
    if n % 2 == 0:
        numbers.append('even')
    else:
        numbers.append('odd')
numbers

# Function Structure Recap

1 output

In [ ]:
def square(x: int) -> int:
    """This function return the square value of the input."""
    return x ** 2


number = square(4)

20.25

no output

In [ ]:
def square(x: int) -> int:
    result = x ** 2


print(square(4))

None

In [ ]:
def greet_person(name: str, greeting: str) -> str:
    print(greeting, name)


print(greet_person('Pop', 'Hi!'))

multiple outputs

In [ ]:
def get_three_chars(name: str) -> tuple:
    return name[0], name[1], name[2]


get_three_chars('Drake')

('D', 'r', 'a')

default argument

In [ ]:
def greet_person(name, greeting='Hi!'):
    print(greeting, name)


# positional argument, dufault/keyword argument
greet_person('Pop', 'HEY!')
greet_person('Toyota')

HEY! Pop
Hi! Toyota

In [ ]:
def print_numbers(number1: int, number2: int) -> None:
    print(number1, number2)


print_numbers(2, 3)
print_numbers(3, 2)

2 3
3 2

keyword args cannnot be before positional args

In [ ]:
def f(a, b, c=4, d, e):
    return a+b+c+d

f(1, 2, 3, 4)

\*args, \*\*kwargs

In [ ]:
def greet_person(name, age=10, *args, **kwargs):
    print(args, kwargs)


greet_person('Pop', 2, 3, 5, 4, a=3, b=8)
# (3, 5, 4)
# {'a': 3,}

(3, 5, 4) {'a': 3, 'b': 8}

In [ ]:
name2 = 5
name3 = 4
name6 = 6


def my_print(*args, **kwargs):
    print(kwargs)
    print(args)


my_print(name2, name3, name6, first=42, second=12, third=False, name='Pop')

{'first': 42, 'second': 12, 'third': False, 'name': 'Pop'}
(5, 4, 6)

In [ ]:
def f(a, b, c=10):
    pass


f(5, b=11, c=4)

# Recursive Function

In [ ]:
# !!! Beware of crashing !!!
def f(x):
    # Base Case
    if x > 100:
        return 0

    x += 1
    print(x)

    return f(x)


f(0)
# x = 1
# print(1)
# f(1)
# x = 2
# print(2)
# f(2)
# ...
# f(99)
# x = 100
# f(100)
# x = 101
# f(101)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

0

Factorial
10! = 10 _ 9 _ ... _ 1
10! = 10 _ 9!

9! = 9 \* 8!

2! = 2 \* 1!
1! = 1

`factorial(10) = 10 * factorial(9)`

In [ ]:
# 5! = 5 x 4 x 3 x 2 x 1
def recursive_factorial(x):
    if x == 1:
        return 1
    return x * recursive_factorial(x-1)


recursive_factorial(10)

3628800

In [ ]:
# 5! = 5 x 4 x 3 x 2 x 1
def interative_factorial(x):
    result = 1

    for number in range(1, x + 1):
        result *= number

    return result


interative_factorial(10)

3628800

In [31]:
# %%timeit
import time

recursive_factorial(500)

t1 = time.time()
result = recursive_factorial(6)
t2 = time.time()
print('Time usage for recursive_factorial 6: ', t2-t1)
result = recursive_factorial(501)
t3 = time.time()
print('Time usage for recursive_factorial 500: ', t3-t2)

Time usage for recursive_factorial 6:  3.0994415283203125e-05
Time usage for recursive_factorial 500:  0.0002231597900390625

In [30]:
# %%timeit
import time

interative_factorial(500)

t1 = time.time()
result = interative_factorial(6)
t2 = time.time()
print('Time usage for interative_factorial 6: ', t2-t1)
result = interative_factorial(501)
t3 = time.time()
print('Time usage for interative_factorial 500: ', t3-t2)

Time usage for interative_factorial 6:  3.814697265625e-05
Time usage for interative_factorial 500:  0.0002338886260986328

In [ ]:
time.time()

# Anonymous Function

Syntax

```python
lambda args: return_expression
```

In [ ]:
def f(x): return x ** 2


f(5)

25

In [38]:
def square(x):
    return x ** 2

In [ ]:
def f(x, y): return x * y


f(4, 5)

20

In [ ]:
def f(number): return number ** 2


f(4)

16

In [ ]:
def f1(x): return x ** 2  # OK
def f2(x): return x[0]  # OK
# f3 = lambda x: x += 1  # Bad
def f4(x): return x % 2 == 0  # OK
def f5(x): return x % 2  # OK


def f6(x): return x.append(1)

In [43]:
print(f6([2, 3]))

None

Benefits using with map()
Syntax of map()

```python
map(function, iterable)
```

Note that iterable is an object that can be iterated (loop over)

Using map with traditional function

In [ ]:
my_list = [1, 2, 3, 4]


def squared(i):
    return i ** 2


result1 = map(squared, my_list)
result2 = list(map(squared, my_list))
result1, result2

(<map at 0x1074bef80>, [1, 4, 9, 16])

In [45]:
my_list = [1, 2, 3, 4]
result3 = list(map(lambda x: x ** 2, my_list))
result3

[1, 4, 9, 16]

In [ ]:
import math

my_list = [1.2, 2.3, math.pi, 4/3]


def convert_to_int(i):
    return i//1


result1 = list(map(convert_to_int, my_list))  # Similar to
result2 = list(map(int, my_list))
result3 = list(map(lambda x: x//1, my_list))

result1, result2, result3

([1.0, 2.0, 3.0, 1.0], [1, 2, 3, 1], [1.0, 2.0, 3.0, 1.0])

In [ ]:
import math

my_list = [1.2, 2.3, math.pi, 4/3]
result = list(map(math.floor, my_list))

result

using map with lambda is more computational efficient!

In [ ]:
my_list = [1, 2, 3, 4]
result = list(map(lambda x: x ** 2, my_list))
result

In [ ]:
import math

my_list = [1.2, 2.3, math.pi, 4/3]

result = list(map(lambda x: x//1, my_list))
result

# Global and Local Scope

We call every things outside the function declaration,
a global scope and every things inside, local scope.

In [47]:
very_important_number = 21

In [ ]:
def print_that_number():
    print(very_important_number)


print_that_number()

21

In [ ]:
def print_another_number():
    print(not_so_important_number)


print_another_number()

NameError: name 'not_so_important_number' is not defined

In [ ]:
def print_my_own_value():
    very_important_number = 3
    print(very_important_number)


print_my_own_value()

3

What happen to our `very_important_number` variable?

In [51]:
print(very_important_number)

21

In [ ]:
def print_my_more_important_number():
    global very_important_number
    very_important_number = 2
    print(very_important_number)


print("very_important_number", very_important_number)
print_my_more_important_number()
print("very_important_number", very_important_number)

very_important_number 21
2
very_important_number 2

**However, using global and naming local variable to be the same
as global variable is a bad practice to begin with.**

In [ ]:
def increase_value():
    very_important_number += 3


increase_value()

UnboundLocalError: cannot access local variable 'very_important_number' where it is not associated with a value

Butttt

In [54]:
very_important_list = [1, 2, 3]

In [ ]:
# Mutable vs Immutable
x = 2
print(id(x))
x += 1  # x = 3
print(id(x))

4300777864
4300777896

In [58]:
a = [1, 2, 3]
print(id(a))
a.append(4)
print(id(a))

4523711872
4523711872

In function, you can **edit** but **not modify** global variables!

In [ ]:
def add_to_list(num):
    very_important_list.append(num)


add_to_list(4)
print(very_important_list)

[1, 2, 3, 4]

Let's fix that.

In [ ]:
def add_to_list_v2(num, target):
    target = target.copy()
    target.append(num)
    return target


print(add_to_list_v2(5, very_important_list))
print(very_important_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

### Sidenote: List as default argument

In [ ]:
def add_to_list_2_5(target=[i + 1 for i in range(3)]):
    print(target)


add_to_list_2_5()

[1, 2, 3]

In [ ]:
def add_to_list_3(num, target=[]):
    target.append(num)
    print(target)


add_to_list_3(1)
add_to_list_3(1)  # target = [1]
add_to_list_3(1)
add_to_list_3(1)
add_to_list_3(1)
add_to_list_3(1, [2])
add_to_list_3(1)

[1]
[1, 1]
[1, 1, 1]
[1, 1, 1, 1]
[1, 1, 1, 1, 1]
[2, 1]
[1, 1, 1, 1, 1, 1]

In [ ]:
def add_to_list_3(num, target=[]):
    target = target.copy()
    target.append(num)
    print(target)


add_to_list_3(1)
add_to_list_3(1)  # target = [1]
add_to_list_3(1)
add_to_list_3(1)
add_to_list_3(1)
add_to_list_3(1, [2])
add_to_list_3(1)

[1]
[1]
[1]
[1]
[1]
[2, 1]
[1]

The correct way

In [ ]:
def add_to_list_3_corrected(num, target=None):
    # if target is None:
    #     target = []
    target = target or []
    target.append(num)
    print(target)


add_to_list_3_corrected(1)
add_to_list_3_corrected(1)
add_to_list_3_corrected(1)
add_to_list_3_corrected(1)
add_to_list_3_corrected(1)
add_to_list_3_corrected(1, [2])
add_to_list_3_corrected(1)

[1]
[1]
[1]
[1]
[1]
[2, 1]
[1]

### Sidenote: Namespace

> Namespaces are one honking great idea -- let's do more of those!

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
# Module Namespace
my_var = 10


def my_func():
    # Function Namaspace
    my_var = 5
    another_var = 24


print(my_var)
print(another_var)

10

NameError: name 'another_var' is not defined

# Tasks

1. Write a Python function to find the max of any numbers of arguments (don't use the build in function `max()`)

In [11]:
def get_max_number(*numbers):
    if not numbers:
        return None

    max_number = numbers[0]
    for number in numbers[1:]:
        if number > max_number:
            max_number = number

    return max_number


get_max_number(1, 2, 3, 4)

4

2. Write a function that computes the volume of a sphere given its radius.

In [14]:
import math


def calculate_sphere_volume(radius):
    return (4 / 3) * math.pi * (radius ** 3)


calculate_sphere_volume(1)

4.1887902047863905

3. Write a function that checks whether a number is in a given range (Inclusive of high and low)

In [16]:
def is_in_range(target, low, high):
    if (target >= low) and (target <= high):
        return True
    else:
        return False

# def is_in_range(target, low, high):
#     return low <= target <= high


is_in_range(4, 3, 4)

True

4. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [28]:
def count_case(text: str):
    upper_count = 0
    lower_count = 0

    for character in text:
        if character.isupper():
            upper_count += 1
        elif character.islower():
            lower_count += 1

    return {'upper': upper_count, 'lower': lower_count}


count_case("Hello World")

{'upper': 2, 'lower': 8}

5. Write a Python function that takes a list and returns a new list with unique elements of the first list. Please use list comprehension as well

In [43]:
# this is normal
# def get_unique_elements(elements):
#     unique_elements = []
#     for element in elements:
#         if element not in unique_elements:
#             unique_elements.append(element)
#     return unique_elements

# using list comprehension
def get_unique_elements(elements):
    unique_elements = []
    [unique_elements.append(element)
     for element in elements if element not in unique_elements]
    return unique_elements

# smarter list comprehension, didn't get it at first, of course this is from chatGPT
# def get_unique_elements(elements):
#     return [element for index, element in enumerate(elements) if element not in elements[:index]]


get_unique_elements([1, 1, 2, 2, 3, 4, 5, 5])

[1, 2, 3, 4, 5]

6. Write a Python function to check whether a string is pangram or not.

Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
For example : "The quick brown fox jumps over the lazy dog"

In [64]:
import string


def is_pangram(text: str):
    result = True
    lower_text = text.lower()
    lower_letters = list(string.ascii_lowercase)

    for letter in lower_letters:
        if letter not in lower_text:
            result = False
            break

    return result


is_pangram('The quick brown fox jumps over the lazy dog')

True

7. Write a Python function to calculate the fibonacci number of index i (starts with 1). The function accepts the number as an argument and return a single number.
   The fibonacci sequence starts with 1,1,2,3,5,8,13,21,.... Therefore, fibonacci of index 6 is number 8.

In [75]:
def get_fibonacci_number(number):
    sequence = []
    for index in range(number):
        if len(sequence) < 2:
            sequence.append(1)
        else:
            sequence.append(sequence[index - 1] + sequence[index - 2])
    return sequence[-1]


get_fibonacci_number(6)

8

8. Create a function which finds the length of each word in the phrase (broken by spaces) and return the values in a list. The function will have an input of a string, and output a list of integers.

In [77]:
def word_lengths(phrase):
    words = phrase.split()
    lengths = []
    for word in words:
        lengths.append(len(word))
    return lengths


print(word_lengths("The quick brown fox"))

[3, 5, 5, 3]

9. Write a function that accepts a list of tuples containing the name of the student and their score, sort them by the score from high to low.

In [76]:
def sort_students_by_score(students):
    return sorted(students, key=lambda x: x[1], reverse=True)


students = [
    ("Alice", 88),
    ("Bob", 95),
    ("Charlie", 72),
    ("Diana", 95)
]

print(sort_students_by_score(students))

[('Bob', 95), ('Diana', 95), ('Alice', 88), ('Charlie', 72)]

10. Write a python function that accepts a list of tuples of length 2, where each tuple contains student name and their scores respectively. The function should return the name of the student whose got maximum score. Please use `map()`, and `max()` function is strictly prohibited.

In [82]:
students = [
    ("Alice", 88),
    ("Bob", 95),
    ("Charlie", 72)
]


def get_top_student(students):
    scores = list(map(lambda student: student[1], students))
    top_index = 0
    for index in range(1, len(scores)):
        if scores[index] > scores[top_index]:
            top_index = index
    return students[top_index][0]

# def get_top_student(students):
#     top_index = 0
#     for index in range(1, len(students)):
#         if students[index][1] > students[top_index][1]:
#             top_index = index
#     return students[top_index][0]


get_top_student(students)

'Bob'

HAPPY CODING :)